{% extends 'chatbot/base.html' %}
{% block title %}Developers{% endblock %}

{% block body %}
<div class="developers-container container-fluid">

    <!-- Developers -->
    <div class="row">
        <div class="row">
        <div class="col-md-5 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Developers</h3>
                    <p>Sanjib Sonowal, tweet @SonowalzLabs</p>
                    <p>Email: sanjib.s@live.com</p>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock %}