{% extends 'chatbot/base.html' %}
{% block title %}Help{% endblock %}

{% block body %}
<div class="help-container container-fluid">

    <!-- Help -->
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is ATOM?</h3>
                    <p>ATOM is a chat bot and can answer to any of your queries.</p>
                    <h3>Where to start?</h3>
                    <p>
                        In homepage, just type in any query into the text panel that you want to ask.
                        Atom will try to provide you the best possible information.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}